.sectionTitle {
  color: #FFD84E;
  text-align: center;
}

.sectionTitle h1 {
  font-size: 20px;
}

.sectionArrows {
  display: flex;
  flex-direction: row;

}

.revealed {
  color: white;
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin: 0 auto;

  padding-left: 4rem;
  padding-right: 4rem;
}


@media screen and (min-width: 425px) {
  .sectionTitle {

    text-align: center;
  }

  .sectionArrows {
    display: flex;
    flex-direction: row;

  }

  .revealed {
    color: white;
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }
}

@media screen and (min-width:1024px) {

  .sectionTitle h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }
  .revealed {
    font-size: 1rem;
    padding-bottom: 6rem;
  }
}

@media screen and (min-width:1444px) {
  .revealed {
    padding-bottom: 7rem;
  }
  .sectionTitle h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
