.sectionTitle {
  color: gold;
  text-align: center;
}

.sectionTitle h1 {
  font-size: 20px;
}

.sectionArrows {
  display: flex;
  flex-direction: row;

}

.revealed {
  color: white;
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 425px) {
  .sectionTitle {
    color: gold;
    text-align: center;
  }

  .sectionTitle h1 {

  }

  .sectionArrows {
    display: flex;
    flex-direction: row;

  }

  .revealed {
    color: white;
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }
}

@media screen and (min-width:1024px) {
  .sectionTitle h1 {
    font-size: 2rem;
  }
  .revealed {
    font-size: 1rem;
    padding-bottom: 6rem;
  }
}

@media screen and (min-width:1444px) {
  .revealed {
    padding-bottom: 7rem;
  }
}
