.title {
  font-size: 1.4rem;
  color: #FFD84E;
  margin-bottom: 5px;
}

.contactContainer {
  height: 70vh;
  margin: 0 auto;
}

img {
  margin-bottom: 0;
}



@media screen and (min-width: 768px) {
  .contactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./mapBW.png");
    background-position: center;
    /* filter: grayscale(60%); */
    border-radius: 1rem;
    width: 80vw;
    height: 80vh;
  }
}

@media screen and (min-width: 1024px) {
  .title {
    font-size: 1.4rem;
    /*padding-bottom: 2rem;*/
  }
}
