.focusGallery {
  display: flex;
  flex-direction: column;
  transition: all 2.4s ease-in-out;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  height: 360px;
  overflow: scroll;
}

.focusGallery img {
  transition: all 1s ease-in-out;
}

.imageBody {
  font-family: 'SF UI Text Light';
  font-size: 1rem;
  transition: all 1s ease-in-out;
}

.carouselControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin : 0 auto;
  transition: all .4s ease-in-out;
  display: none;
}

.image {
  width: 160px;
  height: 250px;
  /*transform: scale(0.6);*/
  transition: all .4s ease-in-out;
}

/*NEXUS 5 SIZE*/
@media screen and (min-width: 424px) {
  .focusGallery {
    height: 400px;
  }
}


@media screen and (min-width: 768px) {
  .focusGallery {
    /*overflow: scroll;*/
    transition: all 2.4s ease-in-out;
    height: 600px;

  }
  .focusGallery img {
    transition: all 1s ease-in-out;
  }

  .imageBody {
    font-family: 'SF UI Text Light';
    font-size: 1rem;
    transition: all 1s ease-in-out;
  }

  .image {
    width: 160px;
    height: 250px;
    transition: all .4s ease-in-out;
  }
  .carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
    margin: 0 75px;
  }

  .carousel .slider-wrapper{
    width: 85%;
  }
}

@media screen and (min-width: 960px) {
  .focusGallery {
    height: 350px;
  }
}

@media screen and (min-width: 1023px) {

  .focusGallery {
    /*display: flex;*/
    flex-direction: row;
    transition: all 2.4s ease-in-out;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    overflow: scroll;
  }
  .carouselControls {
    display: flex;
    flex-direction: row;
    width: 75%;
    /*padding-top: 1rem;*/
    /*padding-bottom: 1rem;*/
  }
  .imageBody {
    font-size: 0.8rem;
  }
  .image {
    /*transform: scale(0.3)*/
  }

}

@media screen and (min-width: 1444px) {
  .image {
    /*width: 220px;*/
    /*height: 380px;*/
  }
  .focusGallery {
    /*height: 550px;*/
  }
}
