.focusGallery {
  display: flex;
  flex-direction: column;
  transition: all 2.4s ease-in-out;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.focusGallery img {

  transition: all 1s ease-in-out;

}

.imageBody {
  font-family: 'SF UI Text Light';
  font-size: 1rem;
  transition: all 1s ease-in-out;
}

.carouselControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin : 0 auto;
  transition: all .4s ease-in-out;
  display: none;


}

.image {
  width: 160px;
  height: 250px;
  transition: all .4s ease-in-out;
}

@media screen and (min-width: 768px) {
  /*.focusGallery {
    display: flex;
    flex-direction: column;
    transition: all 2.4s ease-in-out;
  }*/

  .focusGallery img {

    transition: all 1s ease-in-out;

  }

  .imageBody {
    font-family: 'SF UI Text Light';
    font-size: 1rem;
    transition: all 1s ease-in-out;
  }

  /*.carouselControls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin : 0 auto;
    transition: all .4s ease-in-out;



  }*/

  .image {
    width: 160px;
    height: 250px;
    transition: all .4s ease-in-out;
  }
}

@media screen and (min-width: 1023px) {
  .focusGallery {
    /*display: flex;*/
    flex-direction: row;
    transition: all 2.4s ease-in-out;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
  }
  .carouselControls {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .imageBody {
    font-size: 0.8rem;
  }
  .image {
    width: 200px;
    height: 328px;
  }
}

@media screen and (min-width: 1444px) {
  .image {
    width: 240px;
    height: 400px;
  }
}
