.formContainer {
  width: 450px;
  text-align: left;
  padding: 2rem;
  position: relative;
  margin-top: -390px;
  left: 55%;
  bottom: 10rem;
  font-size: 12px;
  background-color: #15191C;
  border-radius: 10%;
}

.formContainer p {
  color: white;

}

.button {
  width: 200px;
  background-color: gold;
  color: black;
  border: none;
  border-radius: 1rem;

}

.email {
  margin-bottom: 1rem;
  width: 50%;
  border-radius: 25px;
  padding-left: 1rem;
  border: none;
}

.message {
  resize: none;
  height: 120px;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 25px;
  padding: 1rem;
  border : none;
}
