/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
height: 100%;
margin: 0;
padding: 0;
}



.mapContainer {
  display: none;

}
.map {

}

@media screen and (min-width: 768px) {
  .mapContainer{
    min-height: 100%;
    width: 80%;
    margin: 0 auto;
    display: block;
    /*padding-bottom: 5rem;*/
  }

  .mapTitle{
    text-align: center;
    padding-bottom: 3rem;
  }
}

@media screen and (min-width:1024px) {
  .mapContainer {
    padding-bottom: 8rem;
  }
}

@media screen and (min-width:1444px) {
  .mapContainer {
    padding-bottom: 12rem;
  }
}
