.carousel {
  /* padding-bottom: 2rem; */
  overflow: scroll;
}

.focusGallery {
  display: flex;
  flex-direction: column;
  transition: all 2.4s ease-in-out;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  height: 55vh;

}

.focusGallery img {
  transition: all 1s ease-in-out;
}

.imageBody {
  font-family: 'SF UI Text Light';
  font-size: 1rem;
  transition: all 1s ease-in-out;
  margin-top: -4rem;

}

.carouselControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin : 0 auto;
  transition: all .4s ease-in-out;
  display: none;
}

.carouselControls img {
  margin-bottom: 0;
}

.image {
  transition: all .4s ease-in-out;
  margin-bottom: 0px;
  /* margin-bototm: -30px; */
}


/*NEXUS 5 SIZE*/
@media screen and (min-width: 424px) {
  .focusGallery {
    /* height: 400px; */
  }
}


@media screen and (min-width: 768px) {
  .focusGallery {
    height: 50vh;
  }

  .imageBody {
    font-family: 'SF UI Text Light';
    font-size: 0.8rem;
    transition: all 1s ease-in-out;
  }

  .carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
    margin: 0 75px;
  }

  .carousel .slider-wrapper{
    width: 85%;
  }
}

@media screen and (min-width: 960px) {
  .imageBody {
    height: 4rem;
    margin-top: 0!important;
  }
  .carousel {
    overflow: visible;
  }

}

@media screen and (min-width: 1023px) {

  .focusGallery {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 2.4s ease-in-out;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    overflow: visible;
  }

  .carouselBox {
    width: 18%;
  }
  .carouselControls {
    display: flex;
    flex-direction: row;
    width: 75%;
  }
  .image {
    filter: brightness(120%)!important;
    max-width: 100%!important;
    max-height: 100%!important;
    transition: all .4s ease-in-out;

  }

}

@media screen and (min-width: 1366px) {

}
