.title {
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 0.5rem;
}

.textBox p {
  font-size: 11px;
  text-align: left;

  color: white;
  border-bottom: 1px solid gray;
  /*padding-right: 5rem;*/
}

.textBox {
  width: 80%;
  /*text-align: right;*/
  height: 280px;
  overflow-y: scroll;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 5rem;
  margin-left: 3rem;

}



.carouselControls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1rem;
  margin-top: 1rem;


}

.carouselControls p {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 11px;
}

@media screen and (min-width: 425px) {
  .textBox p {
    font-size: 14px;
    text-align: left;
    color: white;
    border-bottom: 1px solid gray;
    /*padding-right: 6rem;*/
    padding: 1rem;

  }

  .carouselControls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    /*padding: 1rem;*/
    /*width: 100%;*/
  }
  .carouselControls p {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (min-width:768px) {
  .textBox {
    height: 550px;
  }
  .carouselControls {

  }
}

@media screen and (min-width: 1024px) {
  .textContainer {
    /* height: 70vh; */
  }

  .title {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1444px) {
  .textBox {
    width: 100%;
    /*height: 60;*/
  }

  .title {
    font-size: 1.6rem;
  }

  .carouselControls {

  }
}
