.carousel {
  width: 80%;
  margin: 0 auto;
  color: white;
  text-align: left;
}

.carousel-text {
  text-align: left;
  font-size: 0.8rem;
  padding: 1rem;
}

.slide {
  text-align: left;
}

.slide-box {
  width: 80%;
  margin: 0 auto;
}

.selected {
  color: white;
}

.carousel .slide {
  overflow: scroll;
  height: 70vh;
}

.control-arrow.control-next {
  height: 400px;
  color: white;
  margin-top: 3rem!important;
  display: block!important;
}

.control-arrow.control-prev {
  height: 400px;
  color: white;
  margin-top: 3rem!important;
  display: block!important;
}

.control-arrow.control-next:active {
  height: 400px;
  border: none;
}

@media screen and (min-width: 768px) {
  .carousel .slide {
    overflow: scroll;
    height: 70vh;
  }
}


@media screen and (min-width: 1024px) {
  .carousel-text {
    font-size: 1rem;
    line-height: 30px;
  }
}

@media screen and (min-width: 1444px) {

}
