.carousel {
  width: 80%;
  height: 50vh;
  margin: 0 auto;
  color: white;
  text-align: left;

}

.carousel-text {
  text-align: left;
  font-size: 0.8rem;
  padding: 2rem;
  padding-bottom: 3rem;
  font-family: 'SF UI Text Light'
}

li *:last-child {
  padding-bottom: 3rem;
}

.slide {
  text-align: left;
}

.slide-box {

  margin: 0 auto;
}

.selected {
  color: white;
}

.carousel .slide {
  overflow: scroll;
  height: 70vh;
}

.control-arrow.control-next {

  color: white;
  margin-top: 3rem!important;
  display: block!important;
}

.control-arrow.control-prev {

  color: white;
  margin-top: 3rem!important;
  display: block!important;
}

.control-arrow.control-next:active {

  border: none;
}

.carousel .control-prev.control-arrow::before {
  border-right: 8px solid #fff!important;
}

@media screen and (min-width: 768px) {
  .carousel .slide {
    overflow: scroll;
    height: 70vh;
  }
}


@media screen and (min-width: 1024px) {
  .carousel-text {
    font-size: 0.8rem;
    line-height: 30px;
  }
  .carousel {
    height: 60vh;
  }
}

@media screen and (min-width: 1444px) {

}
