.sideImage {
  display: none;
}

.form {
  display: flex;
}

.submit {
  color: black;
  background-color: gold;
  width: 100px;
  height: 40px;
  border: 1px solid gold;
  border-radius: 5px;
  font-size: 12px;
}

.submitEmailInput {
  background-color: transparent;
  border: none;
  padding-left: 1rem;
  color: white;
}

@media screen and (min-width: 768px) {
  .submit {
    width: 140px;
    height: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .sideImage {
    display: block;
    position: absolute;
    right: -40px;
    top: 25%;
    width: 361px;
    height: 375px;
  }
}
